/* body {
    font-family: monospace;
    background-color: black;
    color: white;
    padding: 2em;
} */

/* ::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none;
} */